<div>
  <table id="chattable">
  <% @results.each do |result| %>
      <tr>
        <td><h4><%= link_to result.first+" " +result.last, {:controller => :welcome, :action => :view_profile, :user_id => result.id, id: "namerow" } %></h4></td>
        <td> <%= link_to "Chat!", "#", class: "btn btn-success btn-xs start-conversation pull-right","data-sid" => current_user.id, "data-rip" => result.id,  id: "chat" %></td>
      </tr>
  <% end %>
  </table>
</div>
