<div class = "row">
  <div class = "col-lg-6">
    <div class = "panel panel-default">
      <div class = "panel-heading">Users</div>
      <table class = "table">
      <% @search_users.each do |result| %>
          <tr>
    	      <td><%= link_to result.first+" " +result.last, {:controller => :welcome, :action => :view_profile, :user_id => result.id } %></td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class = "col-lg-6">
    <div class = "panel panel-default">
    <div class = "panel-heading">Posts</div>
      <table class = "table">
      <% @search_posts.each do |result| %>
          <tr> 
            <td> <%= link_to result.title+" ", result %></td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
