<%= button_to 'Request a service', new_post_path, method: :get %>
<div id="wrapper">
	<div id="columns">
		<% @posts.each do |post| %>
			<%= link_to post_path(post.id) do %>
			<div class="pin">
			<%= render(post)%>
			</div>
			<% end %>
		<% end %>
	</div>
</div>

