<div id="center">
	<h2>You have bid on these items</h2>
</div>



<div id="wrapper">
	<div id="columns">
		<% @posts.each do |post| %>
			<%= link_to post_path(post.id) do %>
			<div class="pin">
				<%= render(post)%>
				<% end %>
				<p>there have been <%= pluralize(post.bids.count,'Bid') %></p>
				<% if !(current_user.consumer.posts.include?(post))  %>
				
				<h2><%= button_to '(bid on this)', new_bid_path(post_id: post), method: :post%></h2>
				
				<% end %>
								
		     </div>
			
			
		<% end %>
	</div>
</div>