@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
nav.sidebar-menu-collapsed {
  width: 50px; }
nav.sidebar-menu-expanded 
{
  width: 20%;
  background: none repeat scroll 0 0 #0099ff;
  /*height: 100%;*/
}
nav.sidebar 
{
  right:0;
  color: white;
  padding: 20px 10px;
  z-index: 100;
  position: absolute;
  position: fixed;
}

nav.sidebar a#justify-icon 
{
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal; 
    float:left;
}

#chatsearch{float:right;}